{% extends 'base.html.twig' %}



{% block content %}

    <section class="content">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Changer de mot de passe
                        <small></small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="{{ path('profile_show') }}"><i class="zmdi zmdi-home"></i> Mon profil</a></li>
                        <li class="breadcrumb-item active">Modification mot de passe</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <!-- Basic Examples -->
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Choisir un nouveau mot de passe </strong> </h2>
                        </div>
                        <div class="body">
                            <ul class="list-group">

                                {% block fos_user_content %}
                                    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
                                {% endblock fos_user_content %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Custom Content -->
        </div>
        </div>
    </section>


{% endblock %}
