{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

        <div class="input-group input-lg">

            <input type="text" id="username" name="username" required="required" class="form-control"  placeholder="Email ou Nom d'utilisateur"/>
   
            <span class="input-group-addon">
                <i class="zmdi zmdi-lock"></i>
            </span>
        </div>

    <div class="footer text-center">
        <input type="submit" name="_submit"  id="_submit" class="btn btn-primary btn-round btn-lg btn-block " value="Récupérer son mot de passe" />
    </div>
</form>
