@font-face {
  font-family: 'Quicksand-Bold';
  src: url('./Quicksand-Bold.ttf')  format('truetype')
}

@font-face {
  font-family: 'Quicksand-Light';
  src: url('./Quicksand-Light.ttf')  format('truetype')
}

@font-face {
  font-family: 'Quicksand-Medium';
  src: url('./Quicksand-Medium.ttf')  format('truetype')
}

@font-face {
  font-family: 'Quicksand';
  src: url('./Quicksand-Regular.ttf')  format('truetype')
}